h1 {
    color: brown;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  #second-heading {
    background-color: peru;
  }

  .third-heading {
    background-color: darksalmon;
  }

  #id-3 {
    background-color: darkviolet;
  }

  header {
    background-color: deeppink;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .parent-div {
    background-color: tomato;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
  }

  .child-div {
    display: flex;
    align-items: center;
    background-color: wheat;
    width: 200px;
    margin: 20px;
    height: 200px;
    text-align: center;
  }